.container {
  padding: 0 40px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  border-bottom: 1px solid #eee;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
p.logo {
  font-size: 20px;
  font-weight: bold;
  /* text-transform: uppercase; */
  color: yellowgreen;
}
p.cart-item {
  font-size: 14px;
  font-weight: bold;
  color: salmon;
  padding: 9px;
  border-bottom: 2px solid palegreen;
  /* text-transform: uppercase; */
}
main {
  display: grid !important;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
.cart-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.button {
  padding: 10px;
  border: none;
  background-color: #e6951dc8;
  color: #f4f2f2;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px auto;
  display: block;
}
.cart-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.product {
  width: 200px !important;
  height: auto !important;
  object-fit: cover;
  vertical-align: middle;
  margin: 10px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30 px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border: 1px solid #e6951dc8;
  background-color: #f4f2f2;
  color: #281111;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}
.empty-box {
  font-size: 20px;
  font-weight: bold;
  color: #ff0000ba;
  padding: 5px;
  display: block;
  text-align: center;
}
.cart-item-box {
  padding: 18px;
  /* border: 2px solid red; */
  margin: 5px;
}
.cart-item-box > img {
  width: 85px;
}
.add-btn {
  background-color: #40c0f0;
  width: 1.5rem;
}
.remove-btn {
  background-color: #f04040;
  width: 1.5rem;
}
.cart-btn {
  display: flex;
  gap: 5px;
}
